# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Ola_mundo/nbproject/private/
/Ola_mundo/build/
/entrada_saida_dados/nbproject/private/
/entrada_saida_dados/build/
/precos_spcar/nbproject/private/
/precos_spcar/build/
/projetos/aluguel_de_carros/nbproject/private/
/projetos/aluguel_de_carros/build/
/projetos/calculadora_basica/nbproject/private/
/projetos/calculadora_basica/build/
